@media only screen and (max-width: 320px) {
	.smoke-text {
		font-size: 12px;
		white-space: normal;
	}
	.description {
		font-size: 12px;
	}
	.radio-active {
		font-size: 9px !important;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 0px) and (max-width: 576px) { 
	.dj {
		height: 80vh;
	}
	.details {
		font-size: 12px;
		white-space: normal; 
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 16px;
	}
	.subtitle {
		font-size: 10px;
	}
	.paragraph {
		white-space: normal;
	}
	.btn-hell {
		width: 30%;
	}
	.present {
		white-space: normal;
	}
	.artist {
		font-size: 18px;
	}
	.radio-active {
		font-size: 10px;
	}
	h5 {
		font-size: 14px;
		white-space: normal;
	}
	.tolman {
		font-size: 14px;
		white-space: normal;
	}
	.swiper-slide {
		justify-content: space-around !important;
	}
	.top-left {
		left: 10%;
	}
	.brittany {
		font-size: 12px;
	}
	.history-title::before {
		left: 35%;
   	 	width: 30%;
	}
	form input {
		color: #fff !important;
		background-color: transparent !important;
	}
	.wrap-inner {
		flex-direction: column;
	}
	.social-media {
		border: none;
		border-bottom: 1px solid #fff;
		flex-direction: row !important;
	}
	.social-media a i {
		color: #fff;
	}
	.btn-contact {
		border: 1px solid #fff !important;
		padding: 7px 50px;
		margin-bottom: 20px;
		color: #fff !important;
	}
	.top-right {
		right: 0;
		left: 10px;
	}
	.upcoming-title::before {
		content: "";
		left: -5%;
		width: 80%;	
	}
	h2::before {
		content: "";
		left: 25%;
		width: 50%;
	}
}


/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
	.dj {
		height: 80vh;
	}
	.details {
		font-size: 12px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 16px;
	}
	.subtitle {
		font-size: 10px;
	}
	.paragraph {
		white-space: normal;
	}
	.btn-hell {
		width: 30%;
	}
	.artist {
		font-size: 18px;
	}
	.radio-active {
		font-size: 12px;
	}
	.brittany {
		font-size: 12px;
	}
	.top-right {
		position: absolute;
		top: 20%;
		right: 0;
		left: 25%;
	}
}


/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	
}